body {
    background-color: rgb(135, 82, 160);
    color: #1f1d1f;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

/* ---------------home start------------------------ */
/* Nav style start */
.nav_bar {
    width: 100vw;
    height: 50px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    margin-top: 10px;
    border-bottom: #1f1d1f solid 4px;
    border-top: #1f1d1f solid 4px;
    z-index: 2;
}

.nav_bar .logo {
    height: 40px;
    padding-left: 20px;
}

.nav_bar ul {
    list-style: none;
    padding-right: 20px;
}

.nav_bar ul div {
    display: inline;
    padding: 0;
}
.nav_bar ul li {
    display: inline;
    padding-left: 5px;
    padding: 2px;
    margin: 0px 10px 0px 0px;
}

.nav_bar ul li a {
    text-decoration: none;
    /* color: #5a189a; */
    color: #1f1d1f;
    font-size: large;
    font-weight: bold;
}

.li_1 {
    margin: 0;
    padding: 0;
    border-left: #1f1d1f 2px solid;
    width: 0px;
}

.nav_bar ul li a:hover {
    border-bottom: #1f1d1f 2px solid;
}

.mob {
    display: none;
}

.mob input {
    display: none;
}

.line {
    display: none;
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 6px 10px;
}


/* nav style end */

.menu {
    display: none;
}

/* Main style start */
.main_bg {
    height: 100vh;
    width: 100vw;
    background-image: url(/image/without_bg.png);
    background-repeat: no-repeat;
    background-size: 120px;
    background-position-y: 54vh;
    background-position-x: 80vw;
    display: flex;
    align-items: center;
}

.main_text {
    padding-left: 40px;

}

.main_text h1 {
    margin: 0;
    font-size: 2rem;
    -webkit-text-stroke: rgb(255, 255, 255) ;
}

.main_text p {
    font-size: 1.2rem;
}
/* ___________talentless_me_____________ */
#talentless_me_main_bg {
    background-color: #5085B9;
}
.profile {
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: grid;
    place-content: center;
    z-index: 1;
}

.profile_border{
    border: #1f1d1f 4px solid;
    width: 500px;
    height: 280px;
    background: rgba(217, 217, 217, 0.973);
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.473);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
}
.profile a {
    display: grid;
    place-content: center;
    text-decoration: none;
    color: #1f1d1f;
}
.profile_box {
    display: grid;
    place-content: center;
    text-align: center;
}
.profile_box_text_1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
}
.profile_box_text_2 {
    margin-top: 5px;
}
.img_div img {
    height: 150px;
    width: auto;
    margin: 10px;
    border-radius: 15px;
}
.img_div img:hover {
    height: 170px;
    border: #1f1d1f 4px solid;
}
.img_div {
    display: flex;
    flex-direction: row;
}
/* ___________talentless_me_____________ */

/* ___________KalluXz_YT_____________ */

#kalluxz_yt_main_bg {
    background-color: #ff5858;
    }
    #kalluxz_yt_profile {
        height: 100vh;
        width: 100vw;
        position: fixed;
        display: grid;
        place-content: center;
        z-index: 1;
    }
    #kalluxz_yt_profile_border{
        border: #1f1d1f 4px solid;
        width:430px;
        height: 350px;
        background: rgba(217, 217, 217, 0.973);
        box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.473);
        backdrop-filter: blur(6px);
        border-radius: 17px;
        text-align: center;
        transition: all 0.5s;
        display: flex;
        flex-direction: column;
    }
    .youtube_play iframe {
        margin: 10px;
        border: #1f1d1f 2px solid;
        border-radius: 15px;
    }
    .youtube_channel_text_1 {
        font-size: 2rem;
        font-weight: bold;
        margin: 0;
    }
    .youtube_channel_text_1:hover {
        border-bottom: #1f1d1f 4px solid;
    }
    /* ___________KalluXz_YT_____________ */

    /* ___________My_Site_____________ */
#my_site_main_bg {
    background-color: #ffc67b;
}
#my_site_profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#my_site_profile img {
    height: 146.93px;
    width: 300px;
    border: none;
    border-radius: 5px;
}
#my_site_profile .web_2 {
    height: 146.93px;
    width: 300px;
    border: none;
    border-radius: 10px;
}
#my_site_profile a {
    font-size: 2rem;
    margin: 0;
}
#my_site_profile a:hover {
    border-bottom: #1f1d1f 2px solid;
}
#my_site_card_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 230px;
    margin: 5px;
}
#my_site_card_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 230px;
    margin: 5px;
}

/* ___________My_Site_____________ */

/* ___________About_____________ */

#about_main_bg {
    background-color: rgb(61, 61, 61);
}
#about_profile_border{
    width: 650px;
    height: 350px;
}
.my_img img {
    border-radius: 5px;
    height: 170px;
    margin: 10px;
}
.about_text h1,h6 {
    margin: 0px;
}
.about_text p {
    margin: 10px;
    text-align: justify;
}

/* ___________About_____________ */

/* Main style end */

/* Footer style start */
.footer_box {
    width: 100vw;
    height: 20px;
    background-color: #1f1d1f;
    color: rgb(255, 255, 255);
    position: fixed;
    display: grid;
    place-items: center;
    bottom: 0;
}

.footer_box h5 {
    margin: 0;
}
/* Footer style end */
/* -----------------home--end-------------------- */
/* Mobile style start */
@media screen and (max-width: 660px) {
    .main_bg {
        background-position-y: 64vh;
        background-position-x: 68vw;
    }

    .nav_bar ul {
        display: none;
    }

    .mob {
        display: block;
        padding-right: 10px;
    }

    .menu {
        width: 100vw;
        height: 40vh;
        background: rgb(255, 255, 255);
        margin-top: 20px;
        border-top: #1f1d1f 4px solid;
        border-bottom: #1f1d1f 4px solid;
        position: fixed;
        display: none;
        left: 0px;
    }

    .menu ul{
        display: grid;
        place-items: center;
        margin: 0px;
        list-style: none;

    }

    .menu ul li {
        padding: 20px 0px;
        margin: 0px;
    }

    .menu ul li a {
        text-decoration: none;
        color: #1f1d1f;
        font-size: large;
        font-weight: bold;
    }

    #check:checked ~ .menu {
        display: grid;
    }

    /* ___________talentless_me_____________ */
    .profile_border{
        width: 300px;
        height: 280px;
    }
    .profile img {
        height: 170px;
        border: #1f1d1f 4px solid;
    }
    .photo_1 , .photo_2 {
        display: none;
    } 
    /* ___________talentless_me_____________ */

    /* ___________KalluXz_YT_____________ */
    #kalluxz_yt_profile_border{
        width:330px;
        height: 270px;
    }
    .youtube_play iframe {
        width: 300px;
        height: 168.75px;
    }
    /* ___________KalluXz_YT_____________ */

    /* ___________My_Site_____________ */
    #my_site_profile {
        flex-direction: column;
    }

    /* ___________My_Site_____________ */
 
    /* ___________About_____________ */
    #about_profile_border{
        width:350px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* ___________About_____________ */
}
/* Mobile style end */
/* --------------------------------------- */
